/* home page */

body{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    text-decoration: aquamarine;
    gap: 10px;
    
}

.bg-home{
    background-image: url('/images/Login\ \(2\).jpg');
} 
#sidebar-wrapper {
    width: 250px;
    height: 100vh;
    position: fixed;
}

#page-content-wrapper {
    width: 100%;
    margin-left: 250px;
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

#menu-toggle {
    margin-right: 10px;
}